@model IEnumerable<ListaCompra.Models.ItemCompra>

@{
    ViewData["Title"] = "Decoración";
}

<h1>Decoración</h1>

<p>
    <table class="table">
        <tr>
            <td>
                <a class="btn btn-primary" style="background-color:aqua" asp-action="CreateDeco">Añadir Artículo</a>
            </td>
            <td>
                <a class="btn btn-primary" style="background-color:antiquewhite" asp-action="HistorialDeco">Historial</a>
            </td>
        </tr>
    </table>
    
</p>


<table class="table" align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a class="btn btn-primary" style="background-color:aquamarine" asp-action="Comprar" asp-route-id="@item.ID" asp-route-categoria="@item.Categoria">Comprar</a>
            </td>
        </tr>
}
    </tbody>
</table>
